@charset "utf-8";

.btn-green {
  width: 110px;
  float: right;
  margin-right: 100px;
  margin-bottom: 30px;
}

/* .big-box {
  height: 200px;
} */

textarea {
  height: 100px;
  width: 324px;
  border: 1px solid #ccc;
  border-radius: 4px;
}